In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse

In [2]:
dates = [
    datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
    datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)
]

In [4]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.146338
2011-01-05    0.351636
2011-01-07   -0.316082
2011-01-08   -1.662068
2011-01-10   -1.025707
2011-01-12   -1.062642
dtype: float64

In [6]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [7]:
ts + ts[::2]

2011-01-02   -0.292676
2011-01-05         NaN
2011-01-07   -0.632164
2011-01-08         NaN
2011-01-10   -2.051413
2011-01-12         NaN
dtype: float64

In [8]:
ts.index.dtype

dtype('<M8[ns]')

In [9]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [11]:
stamp = ts.index[2]
ts[stamp]

-0.31608211606806214

In [12]:
ts['1/10/2011']

-1.0257067316628765

In [13]:
ts['20110110']

-1.0257067316628765

In [17]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
longer_ts.head()

2000-01-01   -0.188199
2000-01-02   -0.483033
2000-01-03   -2.435456
2000-01-04   -1.442275
2000-01-05    1.325935
Freq: D, dtype: float64

In [20]:
longer_ts['2001'].head()

2001-01-01    0.688779
2001-01-02   -0.250536
2001-01-03   -0.389852
2001-01-04    0.811753
2001-01-05   -0.572048
Freq: D, dtype: float64

In [22]:
longer_ts['2001-05'].head()

2001-05-01   -0.929938
2001-05-02    0.136968
2001-05-03    0.335304
2001-05-04   -1.222370
2001-05-05   -1.995219
Freq: D, dtype: float64

In [23]:
ts[datetime(2011, 1, 7):]

2011-01-07   -0.316082
2011-01-08   -1.662068
2011-01-10   -1.025707
2011-01-12   -1.062642
dtype: float64

In [24]:
ts

2011-01-02   -0.146338
2011-01-05    0.351636
2011-01-07   -0.316082
2011-01-08   -1.662068
2011-01-10   -1.025707
2011-01-12   -1.062642
dtype: float64

In [25]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -0.316082
2011-01-08   -1.662068
2011-01-10   -1.025707
dtype: float64

In [26]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.146338
2011-01-05    0.351636
2011-01-07   -0.316082
2011-01-08   -1.662068
dtype: float64

In [29]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4), index=dates, columns=['Colorado', 'Texas', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  1.264292 -0.524086 -0.002578  0.229118
2001-05-09 -0.829790  0.845170  0.194033 -0.490630
2001-05-16 -0.649524 -1.675711  0.350532  1.291737
2001-05-23  1.017077 -0.502363 -0.023599  0.262432
2001-05-30  0.991801 -0.203990 -0.503877 -0.018160

In [30]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

In [31]:
dup_ts.index.is_unique

False

In [32]:
dup_ts['1/3/2000']

4

In [33]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [35]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

In [36]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64