In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse

In [2]:
p = pd.Period(2007, freq='A-DEC')
p

Period('2007', 'A-DEC')

In [3]:
p + 5

Period('2012', 'A-DEC')

In [4]:
p - 2

Period('2005', 'A-DEC')

In [5]:
pd.Period('2014', freq='A-DEC') - p

7

In [6]:
rng = pd.period_range('1/1/2000', '6/30/2000', freq='M')
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [7]:
pd.Series(np.random.randn(6), index=rng)

2000-01    1.166825
2000-02   -1.196688
2000-03    0.917957
2000-04   -0.788444
2000-05   -1.223684
2000-06    1.629117
Freq: M, dtype: float64

In [9]:
values = ['2001Q3', '2002Q2', '2003Q1']
index = pd.PeriodIndex(values, freq='Q-DEC')
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [10]:
p = pd.Period('2007', freq='A-DEC')
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [11]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [12]:
p = pd.Period('2007', freq='A-JUN')
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [13]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [14]:
p = pd.Period('2007-08', 'M')
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [15]:
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2006   -1.746224
2007   -0.527714
2008    0.884608
2009   -0.339353
Freq: A-DEC, dtype: float64

In [16]:
ts.asfreq('M', how='start')

2006-01   -1.746224
2007-01   -0.527714
2008-01    0.884608
2009-01   -0.339353
Freq: M, dtype: float64

In [17]:
ts.asfreq('B', how='end')

2006-12-29   -1.746224
2007-12-31   -0.527714
2008-12-31    0.884608
2009-12-31   -0.339353
Freq: B, dtype: float64

In [18]:
p = pd.Period('2012Q4', freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [19]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [20]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [21]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm

Period('2012-01-30 16:00', 'T')

In [22]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [23]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')
ts = pd.Series(np.arange(len(rng)), index=rng)
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int64

In [24]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
ts.index = new_rng.to_timestamp()
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int64

In [29]:
rng = pd.date_range('1/1/2000', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
ts

2000-01-31    1.820744
2000-02-29   -1.569080
2000-03-31    0.694498
Freq: M, dtype: float64

In [30]:
pts = ts.to_period()
pts

2000-01    1.820744
2000-02   -1.569080
2000-03    0.694498
Freq: M, dtype: float64

In [32]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')
ts2 = pd.Series(np.random.randn(6), index=rng)
ts2.to_period('M')

2000-01    2.033165
2000-01   -0.143884
2000-01   -1.108779
2000-02   -0.127450
2000-02   -0.785002
2000-02   -2.099588
Freq: M, dtype: float64

In [34]:
pts = ts.to_period()
pts

2000-01    1.820744
2000-02   -1.569080
2000-03    0.694498
Freq: M, dtype: float64

In [35]:
pts.to_timestamp(how='end')

2000-01-31    1.820744
2000-02-29   -1.569080
2000-03-31    0.694498
Freq: M, dtype: float64

In [37]:
data = pd.read_csv('../data_wrangling/macrodata.csv')
data.year[:10]

0    1959.0
1    1959.0
2    1959.0
3    1959.0
4    1960.0
5    1960.0
6    1960.0
7    1960.0
8    1961.0
9    1961.0
Name: year, dtype: float64

In [38]:
data.quarter[:10]

0    1.0
1    2.0
2    3.0
3    4.0
4    1.0
5    2.0
6    3.0
7    4.0
8    1.0
9    2.0
Name: quarter, dtype: float64

In [39]:
index = pd.PeriodIndex(year=data.year, quarter=data.quarter, freq='Q-DEC')
index

PeriodIndex(['1959Q1', '1959Q2', '1959Q3', '1959Q4', '1960Q1', '1960Q2',
             '1960Q3', '1960Q4', '1961Q1', '1961Q2',
             ...
             '2007Q2', '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3',
             '2008Q4', '2009Q1', '2009Q2', '2009Q3'],
            dtype='period[Q-DEC]', length=203, freq='Q-DEC')

In [41]:
data.index = index
data.infl[:10]

1959Q1    0.00
1959Q2    2.34
1959Q3    2.74
1959Q4    0.27
1960Q1    2.31
1960Q2    0.14
1960Q3    2.70
1960Q4    1.21
1961Q1   -0.40
1961Q2    1.47
Freq: Q-DEC, Name: infl, dtype: float64