In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
from pandas.tseries.offsets import Day, Hour, Minute, MonthEnd

In [2]:
dates = [
    datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7),
    datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)
]

In [3]:
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.864188
2011-01-05    1.367576
2011-01-07   -0.309297
2011-01-08   -0.840803
2011-01-10   -1.066606
2011-01-12    0.372478
dtype: float64

In [4]:
# resample: 一定頻度の時系列データとして集約されたオブジェクトを生成する、groupbyの時系列版
# (月,週,日,時,分,秒)が(M,W,D,H,T,S)で対応している 
# 扱うためには、平均を取るなどの処理が必要になる
ts.resample('D')

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [5]:
# date_rangeで日付の範囲を生成
index = pd.date_range('4/1/2012', '6/1/2012')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [6]:
# date_rangeはperiodで生成する日数を指定できる
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# startキーワードだけでなくendキーワードも使える
pd.date_range(end='6/1/2012', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# freqで生成したいタイムスタンプの条件を指定
# BM: 月の最終営業日 business end of month
pd.date_range('1/1/2000', '12/1/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [9]:
# date_rangeで時間を指定するとこうなる
pd.date_range('5/2/2012 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [10]:
# normalize=Trueを指定すると時間を無視して日付だけを見てくれる
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
# 日付オフセットをみていく
hour = Hour()
hour

In [12]:
# 日付オフセットの時を指定する
four_hours = Hour(4)
four_hours

In [13]:
pd.date_range('1/1/2000', '1/3/2000 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [14]:
# 日付オフセットと時と分を組み合わせる
Hour(2) + Minute(30)

In [15]:
# date_rangeで日付オフセットを指定したいときはこう
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [16]:
# 月の第三金曜日を指定するときはこう
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [17]:
# 月末の時系列を作る
ts = pd.Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))
ts

2000-01-31   -1.229520
2000-02-29   -0.051885
2000-03-31    0.269136
2000-04-30   -0.908003
Freq: M, dtype: float64

In [18]:
# 時系列をシフト
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -1.229520
2000-04-30   -0.051885
Freq: M, dtype: float64

In [19]:
# 時系列を後ろにシフト
ts.shift(-2)

2000-01-31    0.269136
2000-02-29   -0.908003
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [20]:
# 単純なshiftはインデックスを変更しないので、いくつかのデータが切り捨てられてしまう
# 時系列の頻度を指定することでタイムスタンプを移動させる
ts.shift(2, freq='M')

2000-03-31   -1.229520
2000-04-30   -0.051885
2000-05-31    0.269136
2000-06-30   -0.908003
Freq: M, dtype: float64

In [21]:
ts.shift(3, freq='D')

2000-02-03   -1.229520
2000-03-03   -0.051885
2000-04-03    0.269136
2000-05-03   -0.908003
dtype: float64

In [22]:
ts.shift(1, freq='3D')

2000-02-03   -1.229520
2000-03-03   -0.051885
2000-04-03    0.269136
2000-05-03   -0.908003
dtype: float64

In [23]:
# 90分時間を移動させる
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -1.229520
2000-02-29 01:30:00   -0.051885
2000-03-31 01:30:00    0.269136
2000-04-30 01:30:00   -0.908003
Freq: M, dtype: float64

In [24]:
# 日付オフセットで時間移動
now = datetime(2011, 11, 17)
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [25]:
# 日付オフセットで月末まで移動
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [26]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [27]:
# rollforward/rollbackで明示的に時間移動をする
offset = MonthEnd()
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [28]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [29]:
ts = pd.Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.head(15)

2000-01-15    0.362067
2000-01-19    1.135016
2000-01-23    0.192680
2000-01-27    2.078141
2000-01-31    0.409404
2000-02-04    0.107651
2000-02-08    1.573333
2000-02-12   -0.458513
2000-02-16    0.398461
2000-02-20    1.552492
2000-02-24    0.567860
2000-02-28   -0.346309
2000-03-03   -2.152470
2000-03-07   -0.810301
2000-03-11   -0.899242
Freq: 4D, dtype: float64

In [30]:
# 日付オフセットを使って月ごとの平均を得る
ts.groupby(offset.rollforward).mean()

2000-01-31    0.835462
2000-02-29    0.484996
2000-03-31   -0.053328
dtype: float64

In [31]:
# 月ごとの平均を得るよりスマートなやり方はこう
ts.resample('M').mean()

2000-01-31    0.835462
2000-02-29    0.484996
2000-03-31   -0.053328
Freq: M, dtype: float64