In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
from dateutil.parser import parse
import pytz
from pandas.tseries.offsets import Hour

In [2]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [3]:
tz = pytz.timezone('US/Eastern')
tz

In [4]:
# デフォルトのpandasの時系列はタイムゾーンを持っていない
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)

None

In [5]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [6]:
ts_utc = ts.tz_localize('UTC')
ts_utc

2012-03-09 09:30:00+00:00   -1.454632
2012-03-10 09:30:00+00:00   -1.829871
2012-03-11 09:30:00+00:00    0.769069
2012-03-12 09:30:00+00:00   -0.761075
2012-03-13 09:30:00+00:00   -0.891364
2012-03-14 09:30:00+00:00    0.099598
Freq: D, dtype: float64

In [7]:
ts_utc.index

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [8]:
ts_utc.tz_convert('US/Eastern')

2012-03-09 04:30:00-05:00   -1.454632
2012-03-10 04:30:00-05:00   -1.829871
2012-03-11 05:30:00-04:00    0.769069
2012-03-12 05:30:00-04:00   -0.761075
2012-03-13 05:30:00-04:00   -0.891364
2012-03-14 05:30:00-04:00    0.099598
Freq: D, dtype: float64

In [9]:
ts_eastern = ts.tz_localize('US/Eastern')
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -1.454632
2012-03-10 14:30:00+00:00   -1.829871
2012-03-11 13:30:00+00:00    0.769069
2012-03-12 13:30:00+00:00   -0.761075
2012-03-13 13:30:00+00:00   -0.891364
2012-03-14 13:30:00+00:00    0.099598
Freq: D, dtype: float64

In [10]:
ts_eastern.tz_convert('Europe/Berlin')

2012-03-09 15:30:00+01:00   -1.454632
2012-03-10 15:30:00+01:00   -1.829871
2012-03-11 14:30:00+01:00    0.769069
2012-03-12 14:30:00+01:00   -0.761075
2012-03-13 14:30:00+01:00   -0.891364
2012-03-14 14:30:00+01:00    0.099598
Freq: D, dtype: float64

In [11]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [12]:
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('US/Eastern')

Timestamp('2011-03-11 23:00:00-0500', tz='US/Eastern')

In [13]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [14]:
stamp_utc.value

1299902400000000000

In [15]:
stamp_utc.tz_convert('US/Eastern').value

1299902400000000000

In [16]:
# サマータイム遷移の30分前
stamp = pd.Timestamp('2012-03-11 01:30', tz='US/Eastern')
stamp

Timestamp('2012-03-11 01:30:00-0500', tz='US/Eastern')

In [25]:
# サマータイム遷移
stamp + Hour()

Timestamp('2012-03-11 03:30:00-0400', tz='US/Eastern')

In [26]:
# サマータイム遷移の90分前
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [27]:
# サマータイム遷移しない
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [28]:
rng = pd.date_range('3/7/2012 9:30', periods =10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts

2012-03-07 09:30:00   -0.534194
2012-03-08 09:30:00    0.738307
2012-03-09 09:30:00   -0.811824
2012-03-12 09:30:00   -1.855126
2012-03-13 09:30:00    0.282600
2012-03-14 09:30:00   -1.425984
2012-03-15 09:30:00   -0.136782
2012-03-16 09:30:00    0.830118
2012-03-19 09:30:00   -0.083322
2012-03-20 09:30:00   -0.346195
Freq: B, dtype: float64

In [30]:
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')